*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/google-services.json
app/~$icon.pptx
.idea/modules/Vocabulario!.iml~
.idea/misc.xml
/app/release
/.git_old
/app/src/main/java/com/ryanhtech/raf
