<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ryanhtech.vocabulario">

    <queries>
        <package android:name="com.ryanhtech.vocabulario" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.google.android.apps.kids.familylinkhelper" />
    </queries>

    <permission
        android:name="com.ryanhtech.vocabulario.permission.RECEIVE_COLLECTION_EVENTS"
        android:description="@string/receive_collection_events_description"
        android:icon="@drawable/ic_baseline_inbox_24"
        android:label="@string/receive_collection_events_permission"
        android:permissionGroup="com.ryanhtech.vocabulario.permission.group.COLLECTION"
        android:protectionLevel="normal" />

    <permission-group
        android:name="com.ryanhtech.vocabulario.permission.group.COLLECTION"
        android:description="@string/collection_permission_group_description"
        android:label="@string/collection_permission_group_title" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.ryanhtech.vocabulario.permission.RECEIVE_COLLECTION_EVENTS" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

    <application
        android:name=".system.vocabulario.Vocabulario"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_description"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/launcher_text"
        android:manageSpaceActivity=".ui.settings.reset.ResetOptionsActivity"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vocabulario.Light"
        tools:ignore="LockedOrientationActivity"
        tools:targetApi="q">
        <activity
            android:name=".ui.settings.reset.ResetConfirmationActivity"
            android:exported="false"
            android:theme="@style/vocabularioBlocked"/>
        <activity
            android:name=".ui.settings.reset.ResetOptionsActivity"
            android:exported="false"
            android:theme="@style/vocabularioBlocked" />
        <activity
            android:name=".setup.assistanceinfo.AssistanceInfoSetupActivity"
            android:exported="false" />
        <activity
            android:name=".system.legal.licensemgr.LicenseErrorActivity"
            android:exported="false" />
        <activity
            android:name=".tools.quiz.ui.UserQuizActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AdminSupervisionInfoActivity"
            android:exported="false"
            android:theme="@style/settingsTheme" />
        <activity
            android:name=".admin.deviceadmin.EnableAdminProxyActivity"
            android:exported="false"
            android:theme="@style/subUiTheme" />

        <service
            android:name=".admin.deviceadmin.VocabularioAdminHang"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".admin.deviceadmin.VocabularioDeviceAdminReceiver"
            android:description="@string/device_admin_descr"
            android:enabled="false"
            android:exported="true"
            android:label="@string/device_admin_label"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <activity
            android:name=".ui.settings.SubSettingsActivity"
            android:exported="false"
            android:theme="@style/settingsTheme" />
        <activity
            android:name=".system.legal.VocabularioLicenseDisplayActivity"
            android:exported="false"
            android:label="@string/eula"
            android:theme="@style/Theme.AppCompat.DayNight" />
        <activity
            android:name=".system.legal.VocabularioLicensingActivity"
            android:exported="true" />
        <activity
            android:name=".tools.collection.ui.CreateWordActivity"
            android:exported="false"
            android:theme="@style/CollectionUITheme" />
        <activity
            android:name=".system.crashhandler.CrashHandlerUserChoiceActivity"
            android:exported="true"
            android:label="@string/title_activity_crash_handler_user_choice"
            android:theme="@style/Theme.Vocabulario.Light.NoActionBar" />
        <activity
            android:name=".system.crashhandler.CrashHandlerActivity"
            android:exported="true" />
        <activity
            android:name=".ui.easteregg.WindowsEasterEggActivity"
            android:exported="false"
            android:immersive="true"
            android:theme="@style/QuizTheme" />
        <activity
            android:name=".tools.collection.ui.CreateWordGroupActivity"
            android:exported="true"
            android:theme="@style/CollectionUITheme">
            <intent-filter>
                <action android:name="@string/action_collection_add_word_group" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".system.services.AlertVibratorService"
            android:description="@string/vibrator_service_description"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.VIBRATE" />

        <activity
            android:name=".admin.ChangeAdminPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".system.block.UnlockAppSecurityCodeActivity"
            android:theme="@style/vocabularioBlocked"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".system.block.EmergencyBlockActivity"
            android:theme="@style/vocabularioBlocked" />
        <activity android:name=".system.block.ForgotPasswordBlockPromptActivity" />
        <activity
            android:name=".admin.AdminPassActivity"
            android:exported="true"
            android:theme="@style/popUpActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".setup.UserSetupActivity"
            android:clearTaskOnLaunch="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".system.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Vocabulario.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.EditProfileActivity"
            android:excludeFromRecents="true" />
        <activity
            android:name=".ui.quiz.QuizActivity"
            android:screenOrientation="portrait"
            android:theme="@style/QuizActivity" />
        <activity
            android:name=".ui.settings.EggActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.settings.DangerousOperationActivity"
            android:enabled="false"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".system.BootStartupReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".system.services.VocRevReminderService"
            android:description="@string/voc_rev_reminder_service_description"
            android:enabled="false"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/settingsTheme">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.PREFERENCE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.FatalErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>